<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Application">
            <file>tests/Application/EmpItemTest.php</file>
            <file>tests/Application/RoomItemTest.php</file>
            <file>tests/Application/AppointmentItemTest.php</file>
            <file>tests/Application/BookingChangeTest.php</file>
            <file>tests/Application/AppointmentChainTest.php</file>
        </testsuite>
        <testsuite name="Core">
            <file>tests/Core/RegistryTest.php</file>
            <file>tests/Core/ApplicationTest.php</file>
        </testsuite>
        <testsuite name="DBMappers">
            <file>tests/DBMappers/AppointmentItemMapperTest.php</file>
        </testsuite>
        <testsuite name="Controllers">
            <file>tests/Controllers/BaseControllerTest.php</file>
            <file>tests/Controllers/BookControllerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>