<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Application">
            <file>tests/Application/EmpItemTest.php</file>
            <file>tests/Application/RoomItemTest.php</file>
            <file>tests/Application/AppointmentItemTest.php</file>
            <file>tests/Application/BookingChangeTest.php</file>
            <file>tests/Application/AppointmentChainTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>